ai:
    provider: openai
    model: gpt-5
    api_key: sk-...

output: /path/to/memory

input_files:
    - /path/to/external/docs
    - /path/to/external/notes

input_dbs:
    - driver: sqlite
      path: /path/to/database.db
      include_tables: [chats_messages]
      where:
          chats_messages: role = 'user' AND status = 'completed'

    - driver: mysql
      host: 127.0.0.1
      port: 3306
      user: root
      password:
      database: database

    - driver: postgres
      host: 127.0.0.1
      port: 5432
      user: root
      password:
      database: database
